# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode files
.vscode/

# Scons build files
scada/build/
scada/libs/
.sconsign.dblite
scada/libscada.so

# python files 
scada/__pycache__/
__pycache__/
__tests__/__pycache__
*.pyc

# latex files
*.aux
*.fdb_latexmk
*.fls 
*.log
*.out
*.synctex.gz

# environmental variables
.env

# testfiles
.cache/
scada/__tests__/scada_test

# docs
docs/doxygen/html/*
docs/doxygen/latex/*
